<!-- Bookmarks Cards -->
<%= link_to city_path(bookmark.city) do %>
  <div class="default-card card-city" style="background-image: url(<%= asset_url('city_card_template.svg') %>)">
    <span><%= bookmark.city.name %></span>
  </div>
<% end %>
<!-- Bookmarks Cards -->
