// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #F4D160;
$pink: #F15067;
$dark-pink: #ee2d48;
$purple: #34113F;
$mid-purple: #E7E2E8;
$light-purple: #F2F2F2;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #E6E6E6;
