 <div class="d-flex align-items-center">
  <div class="mr-3">
    <i class="fas fa-cloud-sun" style="color: #E7E2E8; font-size: 1.5rem;"></i>
  </div>
  <div>
    100 jours de pluie<br>
    1200 heures de soleil<br>
    <span class="text-muted" style="font-size: 0.9rem;">Météo</span>
  </div>
</div>
