<% city_card_link = defined?(card_link) ? card_link : city_path(item) %>
<%= link_to city_card_link do %>
  <div class="default-card card-city m-3" style="background-image: url(
      <% if item.photos.attached? %>
        <%= cloudinary_url(item.photos.first.key, quality: :auto, crop: :fill) %>
      <% else %>
        <%= asset_url('city_card_template.svg') %>
      <% end %>
    )">
    <span><%= item.name %></span>
  </div>
<% end %>
