<div class="cards">
  <div class="default-card card-city" style="background-image: url(<%= asset_url('angers.jpg') %>)">
    <span>Angers</span>
  </div>
  <div class="default-card card-city" style="background-image: url(<%= asset_url('angers.jpg') %>)">
    <span>Angers</span>
  </div>
  <div class="default-card card-city" style="background-image: url(<%= asset_url('angers.jpg') %>)">
    <span>Angers</span>
  </div>
</div>
