<div class="criterion">
  <div class="mr-3">
    <i class="fas fa-building"></i>
  </div>
  <div>
    <span class="criterion-number"><%= item.max_type_of_homes_rate.round %> %</span><br>
    <span class="text-muted" style="font-size: 0.9rem;">
      <%= item.max_type_of_homes_category %>
    </span>
  </div>
</div>