<div class="mt-4 p-3" style="font-size: 0.9rem;">
  <% if search.environment == "montagne" %>
    <em><%= item.mountain %></strong></em><br>
  <% end %>
  <div>
    <%= "#{item.description.squish.truncate_words(13, omission: "...")}" || 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum animi...'%>
  </div>
  <div class="mt-1">
    <%= link_to 'En savoir plus', city_path(item) %>
  </div>
</div>
