<div class="criterion">
  <div class="mr-3">
    <i class="fas fa-caravan"></i>
  </div>
  <div>
    <span class="criterion-number"><%= item.tourism_range %></span><br>
    <!-- 
    <span class="text-muted" style="font-size: 0.9rem;"><%= number_with_delimiter(item.tourism_structures_number, delimiter: " ") %> chambres ou emplacements</span>
    -->
  </div>
</div>
