<div class="criterion">
  <div class="mr-3">
    <i class="fas fa-water"></i>
  </div>
  <div>
    <span class="criterion-number">Mer / Lac</span><br>
    <span class="text-muted" style="font-size: 0.9rem;">à proximité</span>
  </div>
</div>
