<div class="mt-4" style="font-size: 0.9rem;">
  <strong>Région : <%= item.region_name %></strong><br>
  <%= item.description || 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum animi...'%>
  <div class="mt-2"><%= link_to 'En savoir plus', city_path(item) %></div>
</div>