<!-- Footer -->
<footer class="text-center text-lg-left">
  <!-- Section: Links  -->
  <section class="py-4">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="mb-3">
            <h5>NextCity</h5>
          </div>
          <p>
            Accompagner votre mobilité professionnelle en trouvant la ville qui vous correspond le mieux.
          </p>
        </div>

        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="mb-3">
            <h5>&Agrave; propos</h5>
          </div>
          <p>
            <a href="#!">Mieux nous connaître</a>
          </p>
          <p>
            <a href="#!">Rejoignez-nous</a>
          </p>
          <p>
            <a href="#!">Avis clients</a>
          </p>
          <p>
            <a href="#!">Conditions d'utilisation</a>
          </p>
        </div>

        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="mb-3">
            <h5>Ressources</h5>
          </div>
          <p>
            <a href="#!">Blog</a>
          </p>
          <p>
            <a href="#!">Presse</a>
          </p>
          <p>
            <a href="#!">Open Data</a>
          </p>
          <p>
            <a href="#!">Centre d'aide</a>
          </p>
        </div>

        <div class="col-lg-3 mb-0">
          <div class="mb-3">
            <h5>Nexters</h5>
          </div>
          <p>
            <a href="#!">Communauté</a>
          </p>
          <p>
            <a href="#!">Devenez ambassadeur</a>
          </p>
        </div>

      </div>
    </div>
  </section>
  <!-- Section: Links  -->

  <div class="container">
  
    <hr class="my-0">

    <!-- Section: Copyright & Social media -->
    <section class="py-4 d-flex justify-content-between">
      
        <div class="me-5">
          <span>© 2021 Copyright NextCity</span>
        </div>

        <div>
          <a href="" class="me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>

    </section>
    <!-- Section: Copyright & Social media -->

  </div>

</footer>
<!-- Footer -->
