<div id="home-banner">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1>Trouvez votre nouveau chez-vous</h1>
        <h3>Découvrez dès maintenant la ville<br>qui vous correspond le mieux.</h3>
        <div class="btn btn-primary mt-4 px-4" style="font-size: 1.3rem">Inspirez-moi</div>
      </div>
      <%= image_tag 'home-banner.svg'%>
    </div>
  </div>
</div>