<div id="home-banner">
  <div class="container">
    <div class="row">
      <div class="justify-content-between align-items-center">
        <div>
          <h1>Trouvez votre nouveau chez-vous</h1>
          <h3>Découvrez dès maintenant la ville qui vous correspond le mieux.</h3>
          <div class="btn btn-primary mt-2">Inspirez-moi</div>
        </div>
      </div>
    </div>
  </div>
</div>