<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render "shared/city_card" %>
=======
<%= render 'banner' %>
<div class="container">
  <%= 'lorem ipsum' * 140 %>
</div>
>>>>>>> f5814f7483ce5d8ac189bba75ee0e6b87157a222
