.city-badge {
  border-radius: $border-radius;
  border: 1px solid #E5E5E5;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  margin: 1rem 1rem 0 0;
  position: relative;
  .default-badge {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
  }
}

.default-badge {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  &.success-badge {
    background-color: $green;
  }
  &.danger-badge {
    background-color: $dark-pink;  
  }
}