.default-card {
  height: 200px;
  border-radius: $border-radius;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-city {
  background-size: cover;
  background-position: center;
  color: white;
  span {
    padding: 5px 10px;
    background-color: $primary;
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;}
}

.step-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: white;
  .step-card-number {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    background: $primary;
    position: absolute;
    top: -0.8rem;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
  }
  .step-card-title {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  .step-card-desc {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 0.8rem;
  }
  .step-card-img {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
