
<h1>Partir à <%= @user.city.name %> :-) <%= %> </h1>


<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-logement-tab" data-toggle="pill" href="#v-pills-logement" role="tab" aria-controls="v-pills-logement" aria-selected="true">
        Démarches logement
      </a>
      <a class="nav-link" id="v-pills-enfants-tab" data-toggle="pill" href="#v-pills-enfants" role="tab" aria-controls="v-pills-enfants" aria-selected="false">
        Enfants et écoles
      </a>
      <a class="nav-link" id="v-pills-aides-tab" data-toggle="pill" href="#v-pills-aides" role="tab" aria-controls="v-pills-aides" aria-selected="false">
        Aides financière au déménagement
      </a>
      <a class="nav-link" id="v-pills-emploi-tab" data-toggle="pill" href="#v-pills-emploi" role="tab" aria-controls="v-pills-emploi" aria-selected="false">
        Emploi
      </a>
      <a class="nav-link" id="v-pills-courrier-tab" data-toggle="pill" href="#v-pills-courrier" role="tab" aria-controls="v-pills-courrier" aria-selected="false">
        Courrier et changement d'adresse
      </a>
      <a class="nav-link" id="v-pills-cartegrise-tab" data-toggle="pill" href="#v-pills-cartegrise" role="tab" aria-controls="v-pills-cartegrise" aria-selected="false">
        Carte grise et permis de conduire
      </a>
       <a class="nav-link" id="v-pills-liste-tab" data-toggle="pill" href="#v-pills-liste" role="tab" aria-controls="v-pills-liste" aria-selected="false">
        Papiers d'identité & Listes électorales
      </a>
       <a class="nav-link" id="v-pills-eau-tab" data-toggle="pill" href="#v-pills-eau" role="tab" aria-controls="v-pills-eau" aria-selected="false">
        Eau, éléctricité et gaz
      </a>



    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-logement" role="tabpanel" aria-labelledby="v-pills-logement-tab">
        Je dois informer mon bailleur en respectant un délai de préavis pouvant aller de 1 à 3 mois avant le déménagement.
        Je récupérerai le dépôt de garantie versé auprès de ce propriétaire dans le mois ou les 2 mois qui suivent mon déménagement.
      </div>
      <div class="tab-pane fade" id="v-pills-enfants" role="tabpanel" aria-labelledby="v-pills-enfants-tab">
        N'ayez pas d'enfants, vous ferez des économies
        Sinon, Si vos enfants sont à l'école maternelle ou primaire, il faut demander à changer d'établissement ou maintenir les enfants dans leur ancienne école.
      </div>
      <div class="tab-pane fade" id="v-pills-aides" role="tabpanel" aria-labelledby="v-pills-aides-tab">
        Que je vive seul(e) ou en couple, je peux solliciter ma mairie ou mon département pour éventuellement obtenir des aides financières pour déménager (facture déménageur, location camion, ...) ou m'installer (achat du mobilier de 1re nécessité, ...), notamment par le biais du Fonds de solidarité pour le logement (FSL).
      </div>
      <div class="tab-pane fade" id="v-pills-emploi" role="tabpanel" aria-labelledby="v-pills-emploi-tab">
        Voici un lien vers les annonces de .. https://fr.indeed.com/
      </div>
      <div class="tab-pane fade" id="v-pills-courrier" role="tabpanel" aria-labelledby="v-pills-courrier-tab">
        Je peux faire réexpédier mon courrier en utilisant le service payant de La Poste :
      </div>
      <div class="tab-pane fade" id="v-pills-liste" role="tabpanel" aria-labelledby="v-pills-liste-tab">
        Je dois m'inscrire sur les listes électorales de ma nouvelle commune (ou de mon nouvel arrondissement, à Paris, Lyon et Marseille).
        Je n'ai pas besoin de demander la modification de l'adresse qui figure sur ma carte nationale d'identité et mon passeport.
      </div>
      <div class="tab-pane fade" id="v-pills-eau" role="tabpanel" aria-labelledby="v-pills-eau-tab">
        Le fournisseur Total Energie est celui ayant les meilleurs tarifs. Cliquez sur ce lien pour souscrire :
      </div>
    </div>
  </div>
</div>

<%= console %>





